h1 {
    background-color: aqua;
    color: #fff;
}
h3 {
    background-color: brown;
    color: #fff;
}
p {
    background-color: red;
    color: #fff;
}
img {
    width: 200px;
    height: 220px;
    display: inline;
}